@{
    ViewBag.Title = "Home Page";
    if ((string)Session["Email"] == null)
    {
        Response.Redirect(Url.Action("ManageLogIn", "ManageRegistration"));
    }
}

<div class="jumbotron">
    <h2 style="color: darkcyan; text-align: center;">Department of Computer Science & Engineering</h2>
    <p><h2 style="text-align: center; color:darkmagenta;">Vision</h2></p>
    <p class="lead">The vision of the department of Computer Science and Engineering is to enlighten the next generation of engineers and scientists and make them national and international leaders in education and research through effective teaching and disciplinary and ethical learning.</p>

</div>

<p style="text-align: center">-------------------------------------------------------------------------------------------------------------------------------------</p>

<div class="jumbotron">

    <p><h2 style="text-align: center; color:darkmagenta;">Mission</h2></p>
    <p class="lead">
        The mission of CSE is to contribute the society by advancing the fields of Computer Science and Engineering through innovations in teaching and research thus enhancing student knowledge through instruction global engagement and experimental learning. The department of CSE provides excellent undergraduate and graduate education in a state-of-the art environment preparing students for careers as computer scientists in industry, government and academia. Also support society by participating and encouraging technology transfer.

        Through education, research and industry collaboration the department of CSE will be recognized universally as a part of the centrality of society. This department performs impactful research that advances the technology of the 21st century.
    </p>

</div>
<p style="text-align: center">-------------------------------------------------------------------------------------------------------------------------------------</p>
<p style="text-align: center"><h2 style="text-align: center; color:darkgoldenrod">======Objectives======</h2></p>
<p style="text-align: center"><h2 style="text-align: center; color:darkslateblue">To realize our vision we must succeed the following objectives:</h2></p>
<div class="row">
    <div class="col-md-4">
        <h2>1. Undergraduate Programs: The objects of our undergraduate programs are to</h2>
        <p>
            <div>

                <ol style="box-sizing: border-box; margin-top: 0px; margin-bottom: 0px; color: rgb(51, 51, 51); font-family: open_sansregular; font-size: 10px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; list-style-type: lower-alpha;">
                    <li style="box-sizing: border-box;">
        <p style="box-sizing: border-box; margin: 0px 0px 10px;">
            <span style="box-sizing: border-box; font-size: 16px;"><span style="box-sizing: border-box; font-family: georgia, serif;">Teach undergraduates how to practice computers effectively, innovatively, and intelligently;</span></span>
        </p>
        </li>
        <li style="box-sizing: border-box;">
            <p style="box-sizing: border-box; margin: 0px 0px 10px;">
                <span style="box-sizing: border-box; font-size: 16px;"><span style="box-sizing: border-box; font-family: georgia, serif;">Clarify computer science as a multidimensional, humanistic discipline of problem solving;</span></span>
            </p>
        </li>
        <li style="box-sizing: border-box;">
            <p style="box-sizing: border-box; margin: 0px 0px 10px;">
                <span style="box-sizing: border-box; font-size: 16px;"><span style="box-sizing: border-box; font-family: georgia, serif;">Offer state of the art prospectuses to the students in both technical and scientific knowledge for the professional and academic</span></span>
            </p>
        </li>
        <li style="box-sizing: border-box;">
            <p style="box-sizing: border-box; margin: 0px 0px 10px;">
                <span style="box-sizing: border-box; font-size: 16px;"><span style="box-sizing: border-box; font-family: georgia, serif;">Inspire and contribute in interdisciplinary undergraduate scholastic opportunities</span></span>
            </p>
        </li>
        <li style="box-sizing: border-box;">
            <p style="box-sizing: border-box; margin: 0px 0px 10px;">
                <span style="box-sizing: border-box; font-size: 16px;"><span style="box-sizing: border-box; font-family: georgia, serif;">Demonstrate scholars how to acquire new knowledge, autonomously, in a world that variations with ever growing rapidity;</span></span>
            </p>
        </li>
        <li style="box-sizing: border-box;">
            <p style="box-sizing: border-box; margin: 0px 0px 10px;">
                <span style="box-sizing: border-box; font-size: 16px;"><span style="box-sizing: border-box; font-family: georgia, serif;">Provide empirical learning opportunities to the students and educate an accumulative amount of computer science undergraduates to face the upward demands of the national and international economy.</span></span>
            </p>
        </li>
        <li style="box-sizing: border-box;">
            <p style="box-sizing: border-box; margin: 0px 0px 10px;">
                <span style="box-sizing: border-box; font-size: 16px;"><span style="box-sizing: border-box; font-family: georgia, serif;">An ability to use the techniques, skills and modern engineering tools necessary for computer engineering practice</span></span>
            </p>
        </li>
        <li style="box-sizing: border-box;">
            <p style="box-sizing: border-box; margin: 0px 0px 10px;">
                <span style="box-sizing: border-box; font-size: 16px;"><span style="box-sizing: border-box; font-family: georgia, serif;">An ability to communicate effectively both in an oral and written form</span></span>
            </p>
        </li>
        </ol>

    </div>
    </p>
    <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865"> more about &raquo;</a></p>
</div>
<div class="col-md-4">
    <h2>2.Graduate Programs: The objectives of our MS, MPhil and PhD graduate programs are to</h2>
    <p>
        <div>

            <ol style="box-sizing: border-box; margin-top: 0px; margin-bottom: 0px; color: rgb(51, 51, 51); font-family: open_sansregular; font-size: 10px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; list-style-type: lower-alpha;">
                <li style="box-sizing: border-box;">
    <p style="box-sizing: border-box; margin: 0px 0px 10px;">
        <span style="box-sizing: border-box; font-size: 16px;"><span style="box-sizing: border-box; font-family: georgia, serif;">Offer a great excellence flexible graduate programme with an emphasis in Intelligent Systems;</span></span>
    </p>
    </li>
    <li style="box-sizing: border-box;">
        <p style="box-sizing: border-box; margin: 0px 0px 10px;">
            <span style="box-sizing: border-box; font-size: 16px;"><span style="box-sizing: border-box; font-family: georgia, serif;">Encourage and contribute in interdisciplinary undergraduate scholastic opportunities at JnU.</span></span>
        </p>
    </li>
    <li style="box-sizing: border-box;">
        <p style="box-sizing: border-box; margin: 0px 0px 10px;">
            <span style="box-sizing: border-box; font-size: 16px;"><span style="box-sizing: border-box; font-family: georgia, serif;">Teach our graduate students how to spread the boundaries of computer science knowledge;</span></span>
        </p>
    </li>
    <li style="box-sizing: border-box;">
        <p style="box-sizing: border-box; margin: 0px 0px 10px;">
            <span style="box-sizing: border-box; font-size: 16px;"><span style="box-sizing: border-box; font-family: georgia, serif;">Maintain excellent faculty research curriculums;</span></span>
        </p>
    </li>
    <li style="box-sizing: border-box;">
        <p style="box-sizing: border-box; margin: 0px 0px 10px;">
            <span style="box-sizing: border-box; font-size: 16px;"><span style="box-sizing: border-box; font-family: georgia, serif;">Increase the number of graduate student body and their quality;</span></span>
        </p>
    </li>
    <li style="box-sizing: border-box;">
        <p style="box-sizing: border-box; margin: 0px 0px 10px;">
            <span style="box-sizing: border-box; font-size: 16px;"><span style="box-sizing: border-box; font-family: georgia, serif;">Become successful entrepreneurs and managers and have a broad knowledge and wide range of interests.</span></span>
        </p>
    </li>
    <li style="box-sizing: border-box;">
        <p style="box-sizing: border-box; margin: 0px 0px 10px;">
            <span style="box-sizing: border-box; font-size: 16px;"><span style="box-sizing: border-box; font-family: georgia, serif;">Are valuable members of their general community and take a leadership role in their chosen field.</span></span>
        </p>
    </li>
    <li style="box-sizing: border-box;">
        <p style="box-sizing: border-box; margin: 0px 0px 10px;">
            <span style="box-sizing: border-box; font-size: 16px;"><span style="box-sizing: border-box; font-family: georgia, serif;">An additional objective of our MPhil and PhD program are to help our students become state-of-the-art scholars.</span></span>
        </p>
    </li>
    </ol>

</div></p>
<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866"> more about &raquo;</a></p>
    </div>
<div class="col-md-4">

    <p>
        <div>

            <ol style="box-sizing: border-box; margin-top: 0px; margin-bottom: 10px; color: rgb(51, 51, 51); font-family: open_sansregular; font-size: 10px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial;">
                <li style="box-sizing: border-box;" value="3">
    <p style="box-sizing: border-box; margin: 0px 0px 10px;">
        <span style="box-sizing: border-box; font-size: 16px;"><span style="box-sizing: border-box; font-family: georgia, serif;">Faculty: provide sufficient number of faculty members to ensure viability for our undergraduate and graduate programs, appropriate with increases in student hours taught. To provide high-quality research, teaching, and service establish a flexible and sustainable workload procedure and enables us to recruit and maintain top-quality faculty.</span></span>
    </p>
    </li>
    <li style="box-sizing: border-box;" value="4">
        <p style="box-sizing: border-box; margin: 0px 0px 10px;">
            <span style="box-sizing: border-box; font-size: 16px;"><span style="box-sizing: border-box; font-family: georgia, serif;">Infrastructure: confirm that we have adequate class room, lab facility, office and meeting spaces and essential infrastructure, including hardware and software, to support the events required to achieve our objectives.</span></span>
        </p>
    </li>
    <li style="box-sizing: border-box;" value="5">
        <p style="box-sizing: border-box; margin: 0px 0px 10px;">
            <span style="box-sizing: border-box; font-size: 16px;"><span style="box-sizing: border-box; font-family: georgia, serif;">Departmental operations: make sure that departmental programs activate smoothly and efficiently, with a highlighting on make straight our operations and activities with proactive scheduling to accomplish our goals.</span></span>
        </p>
    </li>
    </ol>

</div></p>
<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867"> more about &raquo;</a></p>
</div>
</div>